node_modules
.env
# Ignorieren von Bildern im profile_images Verzeichnis
src/routes/users/uploads/profile_images/*.jpg
# src/routes/users/uploads/profile_images/*.png
# src/routes/users/uploads/profile_images/*.gif
