node_modules
.env
# Ignorieren aller Bild-Dateien im profile_images Verzeichnis
src/routes/users/uploads/profile_images/*
# Aber behalten Sie den Ordner bei, ignorieren Sie nicht die .gitkeep Datei
!src/routes/users/uploads/profile_images/.gitkeep

Info.md